any update on this ?

This is also something i need.

I'm surprised this hasn't been added already. Any updates on this? 

This is a very important feature request considering Gmail now triggers on external URLs used as an image source.![image](https://github.com/user-attachments/assets/dd79d960-eb7d-400e-9fe8-707baa019e8b)

Currently, in 2025, this email service still does not support cid,. Any updates on this?


Are there any plans for this? With Gmail hiding the URL images, it is a deal breaker. 

Since this seems to be a widely requested feature across multiple Resend SDKs, I took some time to investigate it further. Based on what I found, implementing this functionality would likely require changes to the underlying Resend API, which, unfortunately, is not open-source at the time of writing.

While I’m not an expert on the subject, here's how I believe it could be implemented:

Attachments should support a new `cid` (Content-ID) parameter. This `cid` could then be referenced within the email's HTML body. The SDKs would pass this value to the Resend API, which would be responsible for generating the appropriate headers. 

> Node: to support this, the new `cid` attribute would need to be added to all official Resend SDKs.

For example, given the following attachment object:

```js
attachments: [
  {
    filename: 'image.png',
    path: 'image.png',
    cid: 'myimagecid' // New attribute to support inline embedding
  },
],
````

The Resend API would need to generate the corresponding headers like:

```txt
Content-Type: image/png; name=image.png
Content-ID: <myimagecid>
Content-Transfer-Encoding: base64
Content-Disposition: inline; filename=image.png
```

> Note: the `Content-Disposition` may need to be `inline` instead of `attachment` to support inline rendering in most email clients. We also might want to enforce the `cid` to be compliant with the `RFC 822` following the `local-part@domain` format. 

Right now, it looks like the API is already generating some of these headers, since when I send an email with an attachment, the following are included:

```txt
Content-Type: image/png; name=profile.png
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename=profile.png
```

Let me know what you think — I'd be happy to work on this. We’d just need someone to make the necessary changes on the API layer first.

### References

- **RFC 2392** Content-ID and Message-ID Uniform Resource Locators: https://www.rfc-editor.org/rfc/rfc2392
- **RFC 822** Definition of the addr-spec in the form of `local-part@domain`: https://www.rfc-editor.org/rfc/rfc822 
- **RFC 1806** Definition of the Content-Disposition header: https://www.rfc-editor.org/rfc/rfc1806
- **RFC 2387** Definition of the The MIME Multipart/Related Content-type: https://www.rfc-editor.org/rfc/rfc2387 
- How **SendGrid** does it: https://www.twilio.com/en-us/blog/insights/embedding-images-emails-facts#1-cid-embedded-images-inline-images

#554 adds this in, once it's released we'll let you all know the version for it

This has been added to Resend's API and released in [resend@4.8.0](https://github.com/resend/resend-node/releases/tag/v4.8.0). Here's an example of how to use it:

```js
resend.emails.send({
  from: 'Acme <onboarding@resend.dev>',
  to: ['delivered@resend.dev'],
  subject: 'CID support in Resend!',
  text: '<div>Here\'s the image that was generated at runtime: <img src="cid:image"/></div>',
  attachments: [
    {
      content: attachment,
      filename: 'myimage.png',
      inlineContentId: 'image',
    },
  ],
});
```